.app {

  &-menu {
    display: flex;
    justify-content: space-between;

    &-title {

    }

    &-options {
      display: flex;
      justify-content: space-around;

      a {
        cursor: pointer;
        text-decoration: none;
        color: #fff;
        margin-right: 30px;
      }
    }
  }
}